<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>

        <H1>{{ 'States' if state_id == 'State.0' else 'Not found!' if state_id not in states else 'State: '+ states[state_id].name}}</H1>
        {% if state_id in states -%}
        <H3>Cities:</H3>
        <UL>
        {% for city in states[state_id].cities|sort(attribute='name') %}
            <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
        {% endfor %}
        </UL>
        {% elif state_id == 'State.0' -%}
        <UL>
        {% for state in states|sort(attribute='name') %}
            <LI>{{ states[state].id }}: <B>{{ states[state].name }}</B></LI>
        {% endfor %}
        </UL>
        {% endif %}
    </BODY>
</HTML>